{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Loove{% endblock %}

{% block body_block %}
        {% if user.is_authenticated %}
        <h1>LOOVE网欢迎你:{{ user.username }}!</h1>
        {% else %}
        <h1>LOVE says... hello world!</h1>
        {% endif %}
        {% if categories %}
            <ul>
                {% for category in categories %}
                <li><a href="{% url 'category'  category.slug %}">{{ category.name }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>There are no categories present.</strong>
        {% endif %}

        {% if pages %}
        <ul >
            {% for page in pages %}
             <li ><a href="{{page.url}}">{{ page.title }}</a></li>
            {% endfor %}
        </ul>
        {% else %}
            <strong>There are no categories present.</strong>
        {% endif %}
        <p> visits: {{ visits }}</p>
        <!-- <img src="{% static "images/love.jpg" %}" alt="Picture of love" /> --> <!-- Images -->

{% endblock %}
